**/.DS_Store
**/*.swp
**/npm-debug.log*
**/*.pyc
**/.idea
**/.iml
**/__pycache__
**/t_config.json
**/*.iml
**/.terraform
.terraform.tfstate.lock.info
**/secrets.auto.tfvars
**/secrets/*.tfstate*

# Serverless
scripts/**/node_modules
scripts/**/.serverless

/git-secrets.out

docker-packager/build

_pycache__
.DS_Store
.vs
.vscode
*.avro.tmp
*.egg-info/
*.orig
*.pyc
*.swo
*.swp
*.tmp
.settings
.idea/
.classpath
.project
bazel-*
error-prone.patch
hs_err_pid*.log

