**/.DS_Store
**/*.swp
**/npm-debug.log*
**/*.pyc
**/.idea
**/.iml
**/__pycache__
**/t_config.json
**/*.iml
**/.terraform
.terraform.tfstate.lock.info
**/secrets.auto.tfvars
**/secrets/*.tfstate*

# Serverless
scripts/**/node_modules
scripts/**/.serverless

/git-secrets.out

# TLS stuff
scripts
!docker-packager/scripts/
!Operations/scripts/

IaC/sfc-dev/terraform.tfstate.backup
IaC/sfc-dev/terraform.tfstate

IaC/sfc-or-dev-qa/s3_yum/terraform.tfstate.backup
IaC/sfc-or-dev-qa/s3_yum/terraform.tfstate
.project

docker-packager/build

_pycache__
.DS_Store
.vs
.vscode
*.avro.tmp
*.egg-info/
*.orig
*.pyc
*.swo
*.swp
*.tmp
.settings
.idea/
.classpath
.project
bazel-*
error-prone.patch
hs_err_pid*.log
Client/dependency-reduced-pom.xml
Client/lib
Client/target
ExecPlatform/*.out

